div{
    width: 400px;
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
}
.span1{
    padding: 4px;
    border-left: 5px rgb(230, 73, 99) solid;
}
.span2{
    padding: 4px;
    border-left: 5px rgb(42, 162, 148) solid;
}
.two{
    visibility: hidden;
}